@inherits LayoutComponentBase

<main>
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">EcpEmuServer Rules</a>
              </div>
          </nav>
    @Body
</main>